html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.app__counter {
    /* visibility: hidden; */
    font-weight: 700;
    font-size: 32px;
}

.app__timer {
    font-weight: 700;
    font-size: 32px;
}

.app__button {
    width: 500px;
    font-weight: 700;
    text-decoration: none;
    line-height: 100px;
    font-size: 32px;
    border-radius: 20px;
    background: #4191FF;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    transition: all linear .2s;
}

.app__button:hover {
    opacity: .9;
    transform: translateY(-5px);
    box-shadow: 8px 8px 0 rgba(32,33,37,.1);
}

.app__button_red {
    background: #D45366;
}
.app__button_green {
    background: #5ed453;
}


.app__table {
    width: 500px;
}

.app__table th,
.app__table td {
    border: 1px solid #333;
    padding: 10px;
}
